<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>明哥磁力链接搜索</title>
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/antd.min.css" />
    <link rel="stylesheet" href="../css/magnet.css">
</head>

<body>
    <div id="app">
        <div id="components-layout-demo-basic">
            <div id="mydiv" ref='zt'>
                <a-row>
                    <a-col :span="4"></a-col>
                    <a-col :span="16">
                        <a-layout>
                            <a-layout-header></a-layout-header>
                            <a-layout-content>
                                <div class="main">
                                    <div class="searchKuang">
                                        <div class="tubiao">
                                            <img src="tubiao.webp" alt="" srcset="">
                                        </div>
                                        <a-input-search v-model="value" placeholder="请输入影视作品名或导演名关键字" enter-button
                                            @search="onSearch" size="large" :allowClear="true" :loading="isLoading" />
                                    </div>
                                    <div class="showCtx" style="border-top: solid 1px gray;">
                                        <!-- <router-link to="/searchMagnetRes">Go to searchMagnetRes</router-link>
                                    <router-link to="/xiangqing">Go to xiangqing</router-link> -->
                                        </p>
                                        <!-- 路由出口 -->
                                        <!-- 路由匹配到的组件将渲染在这里 -->
                                        <router-view></router-view>
                                    </div>
                                </div>
                            </a-layout-content>
                            <a-layout-footer>Footer</a-layout-footer>
                        </a-layout>
                    </a-col>
                    <a-col :span="4"></a-col>
                </a-row>
            </div>
        </div>
    </div>
    <script src="../js/axios.min.js"></script>
    <script src="../js/crypto-js.js"></script>
    <!-- 封装的axios -->
    <script src="../js/axs.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/canvas-particle.js"></script>
    <script src="../js/vue-router.min.js"></script>
    <script src="../js/vuex.min.js"></script>
    <script src="../js/antd.min.js"></script>

    <!-- 模版 -->
    <!-- 磁力链接搜索结果模版 -->
    <script id="searchMagnetRes" type="text/html">
        <div class="searchMagnetRes">
            <a-list
            class="demo-loadmore-list"
            :loading="loading"
            item-layout="horizontal"
            :data-source="data"
          >
            <div
              v-if="showLoadingMore"
              slot="loadMore"
              :style="{ textAlign: 'center', marginTop: '12px', height: '32px', lineHeight: '32px' }"
            >
              <a-spin v-if="loadingMore" />
              <a-button v-else @click="onLoadMore" type="primary" :disabled="isDisabled_" v-show="loadingMoreBtnIsShow_" >
                加载更多
              </a-button>
            </div>
            <a-list-item slot="renderItem" slot-scope="item, index">
              <a slot="actions" @click="changeRouter(item._id,$event)">详情</a>
              <a-list-item-meta
                :description="item.intro?.substring(0,200).replace(/\<br\>|/g,'')+'...'"
              >
              <a slot="title" href="#">
                <p style="position: relative;"><span class="fl">{{item.title}}</span><span style="position: absolute;right:0">{{item.zhuyan?.substring(0,20)+'...'}}</span></p>
                <p style="position: relative;"><span style="position: absolute;left:40%">{{item.daoyan?.substring(0,20)+'...'}}</span><span style="position: absolute;right:0;top:30px">{{item.date}}</span></p>
                <p style="position: relative;"><span style="position: absolute;left: 20%;">{{item.yingshitype}}</span><span>{{item.area}}</span></p>
                <p style="position: relative;"><span class="fl">{{item.douban}}</span><span>{{item._id}}</span></p>
              </a>
              <a-avatar
                style="width: 120px;height:150px"
                slot="avatar"
                shape="square"
                :src="item.imgUrl"
              />
              </a-list-item-meta>
              <div></div>
            </a-list-item>
          </a-list>
      </div>
    </script>
    <!-- 磁力链接详情模版 -->
    <script id="xiangqing" type="text/html">
        <div class="xiangqing">
            <a-layout>
                <a-layout-header style="height:200px">
                    <div class="boxHeader">
                        <span class="hongxian"></span>
                        <h1>{{item.title}}</h1>
                        <ul>
                            <li>
                                <a-button style="position: absolute;left:0px;top:0px">{{item.updateyear}}</a-button>
                            </li>
                            <li>
                                <a-button style="position: absolute;left:0px;top:0px">{{item.area}}</a-button>
                            </li>
                            <li>
                                <a-button style="position: absolute;left:0px;top:0px">{{item.yingshitype}}</a-button>
                            </li>
                        </ul>
                        <a-avatar
                        :class="[{fangda:isfangda,suoxiao:!isfangda}]"
                        @mouseenter="onMouseEnter" @mouseleave="onMouseLeave"
                        style="width: 25%;height:300px;position: absolute;right: -2%;top: 15%;"
                        slot="avatar"
                        shape="square"
                        :src="item.imgUrl"
                        />
                    </div>
                </a-layout-header>
                <a-layout-content style="height: 500px;">
                  <div class="ctxtop">
                    <p>{{ isExpanded ? item.intro.replace(/[^\u4e00-\u9fa5]|\r\n\t/g,'')?.substring(0,250) : item.intro.replace(/[^\u4e00-\u9fa5]|\r\n\t/g,'')?.substring(0,70)+'...' }}</p>
                    <a @click="toggleContent" :class="[{ashouqi:isExpanded}]">{{ isExpanded ? '收起' : '展开全部' }}</a>
                    <!-- 小三角 -->
                    <div class="triangle" :class="[{triangleRoate:isExpanded}]"></div>
                  </div>
                  <div class="ctxmain">
                    <a-list size="small" bordered :data-source="datamain">
                        <a-list-item slot="renderItem" slot-scope="item, index">
                          <b style="font-family: '宋体';">{{ item.split(':')[0] }}:&nbsp;<span style="font-weight: 400;font-family: '宋体';">{{ item.split(':')[1] }}</span></b>
                        </a-list-item>
                        <!-- <div slot="header">
                          </div> -->
                        <!-- <div slot="footer">
                          Footer
                        </div> -->
                    </a-list>
                  </div>
                  <div class="ctxfooter">
                        <a-button type="danger" class="play">
                            立即播放
                        </a-button>
                        <a-button type="primary" class="download">
                            下载
                          </a-button>
                          <div class="fengxiang">好影片，与好朋友一起分享&nbsp;<a-icon type="deployment-unit" /></div>
                  </div>
                </a-layout-content>
                <a-layout-footer class="magnets" style="height: 500px;">
                    <div class="card-container">
                        <a-tabs type="card" tabPosition="right">
                          <!-- 外层循环 tab标签个数-->
                          <a-tab-pane :key="index" :tab="magnetInfoItem.quality.replace(/\d+$/,'')+'--'+magnetInfoItem.quality.match(/\d+$/)[0]" v-for="(magnetInfoItem, index) in item.magnetInfo">
                            <!-- 内层循环 每个tab标签的磁力链接个数 -->
                            <div v-for="(magnetInfoArrItem, i) in magnetInfoItem.magnetInfoArr" :key="i" class="magnet-row">
                              <div class="magnet-left">
                                <span>{{magnetInfoArrItem.size}}</span>
                                <span>{{magnetInfoArrItem.infoDesc}}</span>
                              </div>
                              <div class="magnet-right">
                                <a-button size="small" @click="copyMagnet(magnetInfoArrItem.magnet)">
                                  <a-icon type="fork" />
                                  <span ref="magnet" :data-magnet="magnetInfoArrItem.magnet">复制链接</span>
                                </a-button>
                              </div>
                            </div>
                          </a-tab-pane>
                        </a-tabs>
                      </div>
                      
                  </a-layout-footer>                  
            </a-layout>
        </div>
    </script>

    <script>

        // vueX仓库
        // 持久化
        var State
        var initialShowComponent
        var initialPage
        var initialLimit
        var initialSearchCtx
        if (localStorage.getItem('magnetApi-vuex-state')) {
            State = JSON.parse(localStorage.getItem('magnetApi-vuex-state'))
            initialShowComponent = State.showComponent ? State.showComponent : '/searchMagnetRes'
            initialPage = State.page ? State.page : 1
            initialLimit = State.limit ? State.limit : 10
            initialSearchCtx = State.searchCtx ? State.searchCtx : '叶玉卿'
        }
        const store = new Vuex.Store({
            state: {
                // 当前显示组件
                showComponent: initialShowComponent,
                // 当前回车或搜索时框的内容
                searchCtx: initialSearchCtx,
                // 页码和容量
                page: initialPage,
                limit: initialLimit,
                // 搜索按钮加载效果
                isLoading: false,
                // 是否点击了详情组件详情按钮
                isClickXiangqingBtn:false
            },
            mutations: {
                updateShowComponent(state, showComponent) {
                    state.showComponent = showComponent
                },
                updateSearchCtx(state, searchCtx) {
                    state.searchCtx = searchCtx
                },
                updatePage(state, page) {
                    state.page = page
                },
                updateLimit(state, limit) {
                    state.limit = limit
                },
                updateIsLoading(state, isLoading) {
                    state.isLoading = isLoading
                },
                updateIsClickXiangqingBtn(state,isClickXiangqingBtn) {
                    state.isClickXiangqingBtn = isClickXiangqingBtn
                
                }

            },
            actions: {

            },
            getters: {

            },
            plugins: [
                store => {
                    // console.log('store', store)
                    // 在每次mutation之后或刷新页面后调用
                    store.subscribe(async (mutation, state) => {
                        // console.log('mutation', mutation)
                        // console.log('state某个值修改后', state)

                        localStorage.setItem('magnetApi-vuex-state', JSON.stringify(state))
                    })
                }
            ]
        })

        // axs挂载原型
        Vue.prototype.$axios = service
        // 粒子方法
        Vue.prototype.CanvasParticle = CanvasParticle



        // 组件
        // 磁力链接结果组件
        let searchMagnetRes = {
            template: '#searchMagnetRes',
            data() {
                return {
                    loading: true,
                    loadingMore: false,
                    showLoadingMore: true,
                    data: [],
                    page: 1,
                    limit: 10,
                    searchCtx: this.$store.state.searchCtx,
                    // 加载更多按钮的显示和隐藏
                    loadingMoreBtnIsShow: true,
                    // 加载更多按钮的禁用
                    isDisabled: false
                }
            },
            watch: {
                // 监测父组件搜索框输入内容且回车了
                '$store.state.searchCtx': {
                    async handler(newV, oldV) {
                        // 在磁力链接组件里
                        if (this.$store.state.showComponent == '/searchMagnetRes') {
                            this.searchCtx = this.$store.state.searchCtx
                            this.page = this.$store.state.page
                            this.limit = this.$store.state.limit
                            this.loading = true
                            let res = await this.getPaginationData({ page: this.page, limit: this.limit, title: newV })
                            if (res.code == 200) {
                                this.data = res.data
                                this.loadingMore = false
                            } else {
                                this.data = []
                                this.loadingMoreBtnIsShow = false
                                this.$message.info(res.msg)
                            }
                            // 延时器 增加加载效果
                            setTimeout(() => {
                                this.loading = false
                                // 无论加载成功或失败 都让搜索按钮去除loading
                                this.$store.commit('updateIsLoading', false)
                            }, 1000)
                        }

                    },
                    immediate: true
                },

            },
            computed: {
                loadingMoreBtnIsShow_() {
                    return this.loadingMoreBtnIsShow
                },
                isDisabled_() {
                    return this.isDisabled
                }
            },
            async created() {
                this.page = this.$store.state.page
                this.limit = this.$store.state.limit
            },
            async mounted() {
                this.loading = true
                let res = await this.getPaginationData({ page: this.page, limit: this.limit, title: this.searchCtx })
                if (res.code == 200) {
                    this.data = res.data
                    this.loadingMore = false
                } else {
                    this.data = []
                    this.loadingMoreBtnIsShow = false
                }
                // 延时器 增加加载效果
                setTimeout(() => {
                    this.loading = false
                    this.$store.commit('updateIsLoading', false)
                }, 1000)
            },
            updated() {

            },
            methods: {
                async getPaginationData({ page, limit, title }) {
                    let res = (await this.$axios.get(`/api/searchMagnetPagination?title=${title}&page=${page}&limit=${limit}`))
                    console.log('res', res)
                    return res
                },
                async onLoadMore() {
                    this.loadingMore = true;
                    this.loading = true
                    let res = await this.getPaginationData({ page: ++this.page, limit: this.limit, title: this.searchCtx })
                    console.log('res...',res)
                    this.$store.commit('updatePage', this.page)
                    if (res.code == 200) {
                        this.data = this.data.concat(res.data)
                    } else {
                        this.loadingMoreBtnIsShow = false
                    }
                    this.$message.info(res.msg)
                    // 延时器 增加加载效果
                    setTimeout(() => {
                        this.loading = false
                        this.loadingMore = false;
                        this.$store.commit('updateIsLoading', false)
                    }, 1000)
                    this.$nextTick(() => {
                        window.dispatchEvent(new Event('resize'));
                    });
                },
                changeRouter(id, e) {
                    e.preventDefault()
                    this.$store.commit('updateShowComponent', `/xiangqing/${id}`)
                    this.$store.commit('updateIsClickXiangqingBtn',true)
                    this.$router.replace(`/xiangqing/${id}`)
                },
            
            },
            beforeDestroy() {

            },
        }

        // 磁力链接详情组件
        let xiangqing = {
            template: '#xiangqing',
            data() {
                return {
                    // 跳转路由专递的id
                    id: '',
                    // 当前id对应的影视信息
                    item: '',
                    // 控制影视介绍内容是否全部展开
                    isExpanded: false,
                    datamain: '',
                    // 封面的缩放
                    isfangda:false
                }
            },
            created() {
                this.id = this.$route.params.id
                console.log('id', this.id)
            },
            async mounted() {
                let res = await this.getOneMagnetXiangQing({ id: this.id })
                if (res.code == 200) {
                    this.item = res.data
                    console.log('this.item', this.item)
                    let { daoyan, zhuyan, douban, updatetime, yingshitype } = this.item
                    this.datamain = [daoyan, zhuyan, douban, updatetime, yingshitype]
                }
            },
            methods: {
                async getOneMagnetXiangQing({ id }) {
                    let res = (await this.$axios.get(`/api/getOneMagnetXiangQing/${id}`))
                    return res
                },
                toggleContent(e) {
                    e.preventDefault()
                    this.isExpanded = !this.isExpanded; // 切换展开/收起
                },
                // 点击复制
                async copyMagnet(magnet) {
                    try {
                        // 创建一个临时的文本输入框来复制内容
                        const input = document.createElement('textarea');
                        input.value = magnet;
                        document.body.appendChild(input);
                        input.select();
                        input.setSelectionRange(0, input.value.length); // 兼容移动设备
                        document.execCommand('copy'); // 执行复制命令
                        document.body.removeChild(input); // 移除临时文本框
                        this.$message.info('复制成功啦');
                    } catch (error) {
                        this.$message.error('复制失败');
                        console.error('复制出错', error);
                    }
                },
                onMouseEnter() {
                    this.isfangda = true
                },
                onMouseLeave() {
                    this.isfangda = false        
                }
            },
            computed: {

            }
        }


        const app = new Vue({
            data() {
                return {
                    // 搜索框输入内容
                    value: '',
                    // 搜索按钮加载效果
                    isLoading: this.$store.state.isLoading,
                    // 进入详情页后 滚动条设置为置顶
                    isClickXiangqingBtn:this.$store.state.isClickXiangqingBtn
                }
            },
            router: new VueRouter({
                mode: 'hash', // 设置路由模式为 history
                routes: [
                    { path: '/searchMagnetRes', component: searchMagnetRes },
                    { path: '/xiangqing/:id', component: xiangqing },
                    { path: '/', component: searchMagnetRes },
                ]
            }),
            store,
            methods: {
                onSearch(v, e) {
                    console.log('v,e,value', v, e, this.value)
                    if (v) {
                        // 只有输入框内容不为空且按了回车或者搜说狂时才修改vuex中的searchCtx
                        this.$store.commit('updateIsLoading', true)
                        this.$store.commit('updateSearchCtx', v)
                        this.$store.commit('updatePage', 1)
                        this.$store.commit('updateLimit', 10)
                        if (this.$route.path !== '/searchMagnetRes') {
                            this.$store.commit('updateShowComponent', '/searchMagnetRes')
                            this.$router.replace('/searchMagnetRes');
                        }
                    }
                }
            },
            mounted() {
                // 初始化粒子方法
                this.CanvasParticle()
            },
            watch: {
                '$store.state.isLoading': {
                    async handler(newV, oldV) {
                        this.isLoading = newV
                    },
                    immediate: true
                },
                '$store.state.isClickXiangqingBtn': {
                    async handler(newV,oldV) {
                        if(newV) {
                           // this.$refs.zt.$el.scrollTop = 0
                           // 兼容性处理，确保滚动条置顶
                            document.documentElement.scrollTop = 0;
                            document.body.scrollTop = 0;
                            
                            // 如果要自动重置状态以便多次触发
                             this.$store.commit('updateIsClickXiangqingBtn', false);
                        }
                    }
                }
            }
        }).$mount('#app')
    </script>

</body>

</html>
